/* Style Base */

/* Font ========================================================================================= */
@font-face {
	font-family:"Homizio";src:url("../font/regular.eot?") format("eot"),
		url("../font/regular.woff") format("woff"),
		url("../font/regular.ttf") format("truetype"),
		url("../font/regular.svg#Homizio") format("svg");	
	font-weight :normal; font-style:normal;
}

/* Components =================================================================================== */
body{font-family: "Homizio"; margin: 0;}
h1{font-size: 60px; margin-bottom: 5px; margin-top: 10px;}
h2{font-size: 25px; font-weight: normal; margin-bottom: 10px;}

.center{margin-left: auto; margin-right: auto;}

/* Top ========================================================================================== */
#top_all{
	height: 97px;
	position: relative;
	width: 1000px;
}
#logo{
	height: 97px;
	left: 0;
	position: absolute;
	width: 233px;
}
#menu{
	background-color: #ff6600;
	height: 40px;
	right: 0;
	position: absolute;
	width: 300px;
	top: 28px;

	opacity:0.7;
	filter:alpha(opacity=70);
}
#menu ul{list-style: none; margin: 8px 0 0 20px; padding: 0;}
#menu li{color: #fff; display: inline-block; font-size: 1.2em; margin-right: 10px;}

/* TXT ========================================================================================== */
#txt{
	color: #fff; 
	bottom: 5px;
	left: 50%;
	margin-left: -500px;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 10px #000;
	width: 1000px;
}

/* _FIX ========================================================================================= */
._fix-bg-txt{background-repeat: repeat; background-image: url("../img/comp/bg-text.png");}