/* Index Style */

/* Index ======================================================================================== */
#index-all{
	background-repeat: no-repeat;
	height: 100%;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: -1;
}
#page-all{
	display: block; 
	height: 95%; 
	left: 50%;
	margin-left: -500px;
	min-height: 630px; 
	position: absolute; 
	width: 1000px; 
	top: 40px;
}